h2 { color : #A2B8D8;}

.timer {}


.field {
    display:flex;
    justify-content: center;
    align-items: center;
}

.field__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 15px auto;
}

.field__item {
    list-style-type:none;
    height: 90px;
    width: 90px;
    border: 1px dashed #fff; 
    position: relative;
}

.field__error {
    outline: 3px solid #ff0000;
    box-shadow:0 0 15px #ff0000;
}

.field__succsess {
    outline: 3px solid #26ff00;
    box-shadow:0 0 15px #26ff00;
}

.details {}

.details__items {
    /* width: 330px; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 15px;
    margin: 15px auto;
    list-style-type: none;
}

.details__item {
    overflow:hidden;
    border-radius: 5px;
    border: 3px solid var(--color3)
}

img {
    width: 100%;
}



.delete__button {
    background-color: #ff0000;
    display:block;
    width: 25px;
    height:25px;
    border-radius: 50%;
    font-family:Arial, Helvetica, sans-serif;
    line-height:25px;
    text-align:center;
    cursor:pointer;
    transform:rotate(45deg);
    box-shadow: 0 0 3px #000;
    position: absolute;
    right:-5px;
    bottom: -5px;
}

.delete__button:hover {
    background-color: #9d0404;
}

@media screen and (max-width: 540px){
    .details__items {
        width: 330px;
        grid-template-columns: repeat(4, 1fr);
    }
}